<form id="addNewNote">
    <label for="title">Title: </label><input type="text" name="title"/>
    <label for="content">Content: </label><textarea type="text" name="content"></textarea>
    <button type="submit">Add note</button>
</form>