<span class="mark-delete">✗</span>
<span class="mark-read">✔</span>
<h3><%=this.title%></h3>
<div class="note">
    <div class="content"><%=this.content%></div>
    <div class="buttons">
        <span class="mark-read">Mark as Read</span>
        <span class="mark-delete">Delete Note</span>
    </div>
</div>