body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #8ba1c4;
  color: #ffffff;

  * {
    box-sizing: border-box;
  }
}

a {
  color: #ffffff;
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 4px 0;
  padding: 6px;
  border-bottom: 1px #ccc solid;


  h3 {
    cursor: pointer;
    &::before {
      content: ' ';
    }
  }

  .note {
    display: none;

    .content {
      background-color: #6d7c9f;
      color: #dcdaef;
      text-shadow: 1px -1px 0 #60589c;
      padding: 12px;
    }
  }

  &.on .note {display: block;}


  span {
    display: inline-block;
    float: right;
    margin: 12px 0 0 6px;
    padding: 3px 6px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px #dcdaef solid;
    text-decoration: none;

    &:hover {
      background-color: #dcdaef;
    }
  }
  .buttons {
    margin: 12px 0 6px;
    span {
      float: none;
      margin: 0 6px 0 0;
    }
  }

  &.read {
    h3, .content{
      text-decoration: line-through;
    }
    h3::before {
      content: '✔';
    }
    .mark-read {
      background-color: #dcdaef;
    }
  }

}

#add-region {
  #addNewNote {
    margin-top: 24px;

    label {
      display: block;
      margin-bottom: 6px;

    }
    input {
      font-weight: bold;
    }
    input,button,textarea {
       padding: 8px 16px;
      font-size: 1.1em;
      color:#60589c;
      background-color: #e1e0ea;
       border-radius: 3px;
       border: 0 none;
      min-width: 100%;
      margin-bottom: 12px;
     }
    button {
      background-color: #60589c;
      color: #ffffff;
    }
  }
}